Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.TickMickProject/.idea/workspace.xml
.idea/.idea.TickMickProject/.idea/indexLayout.xml
.idea/.idea.TickMickProject/.idea/vcs.xml
.idea/.idea.TickMickProject/.idea/projectSettingsUpdater.xml
